.MainPage section {
    margin-bottom: 2em;
}

.MainPage section:last-child {
    margin-bottom: 0;
}

.MainPage label:not([for]) {
    display: block;
    margin-bottom: .75em;
}

.MainPage label[for] {
    font-size: .7em;
}
