.NumberInput {
    display: flex;
}

.NumberInput input::-webkit-inner-spin-button, 
.NumberInput input::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}
.NumberInput button {
    -webkit-appearance: none; 
    border: none;
}

.NumberInput input,
.NumberInput input:focus {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    padding: 0;
}
.NumberInput input,
.NumberInput button {
    text-align: center;
}

.NumberInput input {
    min-width: 5em;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.2em;
}

.NumberInput button {
    flex-grow: 0;
    flex-shrink: 0;
    width: 1.75em;
    height: 1.75em;
    font-size: 1.1em;
    background-color: 
}
