.digitalTimer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 1em;
}

.digitalTimer .digits {
    font-family: Roboto, sans-serif;
    font-size: inherit;
    color: rgba(255, 255, 255, .66);
}

.digitalTimer .separator {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .7em;
    color: rgba(255, 255, 255, .5);
}